{
  "all": true,
  "excludeAfterRemap": true,
  "report-dir": "coverage-cy",
  "reporter": ["text", "json", "html"],
  "extension": [".ts", ".tsx", ".js", ".jsx"],
  "include": ["src/**/*.ts", "src/**/.tsx"],
  "exclude": ["src/setupTests.ts", "src/**/*.d.ts"]
}
